{% extends 'base.html' %}
{% block container %}
<main class="container mt-3">
    <h1 class="display-5 mt-4">Летим {{ departure }}</h1>
    <p class="mb-4"><b>Найдено {{ tours|length }} туров</b>, от {{ min_price }} до {{ max_price }} и от {{ min_nights }} ночей
        до {{ max_nights }} ночей</p>
    <div class="row mt-5">
        {% for id, tour in tours.items %}
        <div class="col-4">
            <div class="card mb-4">
                <img src="{{ tour.picture }}" class="card-img-top img-fluid" alt="">
                <div class="card-body">
                    <h2 class="h5 card-title">{{ tour.title }}</h2>
                    <p class="card-text">{{ tour.description }}</p>
                    <p class="card-text"><b>{{ tour.country }} {{ departure_name }} {{ tour.date }} {{ tour.nights }} ночей</b></p>
                    <a href="/tour/{{ id }}" class="btn btn-sm btn-primary">Подробнее</a>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</main>
{% endblock %}